<% if fp_signed_in? %>
  <h1>予約枠の登録</h1>
  <ul>
    <li>現在時刻から24時間後以降の日時で、あなたが担当できる予約枠を登録してください</li>
    <li>登録可能な時間帯は月曜日から金曜日は10:00〜17:00、土曜日は11:00〜15:00です</li>
    <li>枠は30分単位ですが、連続する時間帯であれば、マウスドラッグすることで一度に登録ができます</li>
    <li>お客様がすでに予約した枠は赤色で表示されます</li>
    <li>現在時刻より24時間以前の情報は表示されません</li>
  </ul>
<% elsif user_signed_in? %>
  <h1>ご予約</h1>
  <ul>
    <li>現在時刻から24時間後以降の日時で、ご都合のよい時間帯を選んで予約してください</li>
    <li>予約に空きのある時間帯は青色で表示されます</li>
    <li>枠の中には残りの空き予約の数が表示されます</li>
    <li>現在時刻より24時間以前の情報は表示されません</li>
  </ul>
<% end %>
