<% provide(:title, "予約ページ") %>
<%= render 'slots/commentary' %>
<div class="row">
  <div class="col-md-8" id="calendar"></div>
  <div class="col-md-4">
    <%= render 'slots/recent' %>
  </div>
</div>
