<% provide(:title, "このサイトについて") %>
<h1>このサイトについて</h1>
<p>
Ruby on Railsのお勉強。<br>

<% if not user_signed_in? %>
FPの<%= link_to "登録", new_fp_registration_path %>・
    <%= link_to "ログイン", new_fp_session_path %>。
<% end %>
</p>
