// Place all the styles related to the Slots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fc-time-grid .fc-slats td {
  height: 2.0em;
}

.fc-event {
  font-size: 1.2em;
  display: flex;
	align-items: center;
	justify-content: center;

  &.booked-slot {
    color: #222;
    background-color: #f55;
  }
}
